<nav class="nav">
    <h1><a routerLink="/">E-COMMERCE APP</a></h1>
    <div *ngIf="menuType==='default'" class="nav-search">
        <input type="text" placeholder="Search Product">
        <button>Search</button>

    </div>

    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="">HOME</a></li>
            <li><a routerLink="seler-auth">SELLER</a></li>
            <li><a href="#">LOGIN</a></li>
            <li><a href="#">CART(0)</a></li>
        </ul>

        <ul *ngSwitchCase="'seler'">
            <li><a routerLink="seler-add-product">ADD PRODUCT</a></li>
            <li><a routerLink="seler-home">PRODUCT LIST</a></li>
            <li><a routerLink="seler-auth">SELLER</a></li>
            <li><a (click)="logOut()" class="logut-button">LOGOUT</a></li>
            <li><a href="#">{{sellerName | titlecase}}</a></li>
        </ul>

    </div>
</nav>