body{
    font-family: sans-serrif;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;


}


.p-msg{
    color: green;
    text-align: center;
}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid blueviolet;

}

.form-button{
    height: 35px;
    border: 1px solid blueviolet;
    border-radius: 12px;
    cursor: pointer;


}


.error-p{
    color: red;
}